numpy==1.23.1
astropy==5.1
healpy==1.16.1
scipy==1.9.0
reproject==0.8
matplotlib==3.5.2
tqdm==4.64.0

jax==0.4.7
jaxlib==0.4.7+cuda11.cudnn82
numpryo==0.11.0
optax==0.1.4
tensorflow_probability==0.19.0